header {
    background: url(img\bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

.section {
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}

.input-field input[type=email].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}

.input-field .prefix.active {
    color: red;
}