h1 {
    color: red;
}

header {
    background: url(C:\Users\PC POSITIVO ULTRA\Desktop\Gui\projetosGui\DW1A3_trabalhofinal\DW1A3_trabalhofinal\img\bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}